.chatWrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* background-color: #8aab5f; */

  background-position: center;
  background-size: cover;
  max-height: 100vh;
  overflow-y: auto;
}

.chat {
  list-style: none;
  padding: 0;
  margin-bottom: 2.5rem;
}

.message {
  display: flex; /* Изменено на flex для лучшего контроля расположения */
  align-items: center; /* Выравнивание элементов по центру */
  max-width: 55%; /* Сообщения занимают максимум 55% ширины */
  padding: 10px;
  margin-bottom: 4px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.4;
  word-break: break-word;
  position: relative;
}
.messageContent {
  flex-grow: 1;
}
.messageTime {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  margin-left: auto;
  line-height: 1.35;
  font-size: 1em;
  color: rgb(0, 156, 86);
}

.userMessage {
  margin-left: auto;
  background-color: rgb(217, 245, 206);
  color: rgb(37, 37, 37);
}

.message:not(.userMessage) {
  background-color: white; /* Сообщения других пользователей на белом фоне */
  color: black; /* Черный текст */
}
.message.selected {
  background-color: rgb(87, 86, 86); /* Стили для выбранных сообщений */
}

/* Отдельные стили для сообщений от текущего пользователя, когда они выбраны */
.message.userMessage.selected {
  background-color: rgb(112, 112, 112);
  color: rgb(255, 255, 255);
}

/* Отдельные стили для сообщений от других пользователей, когда они выбраны */
.message:not(.userMessage).selected {
  background-color: rgb(87, 86, 86);
  color: rgb(165, 163, 163);
}

.messageAuthor {
  display: block;
  margin-bottom: 2px;
  margin-right: 4px;
  font-weight: bold;
  font-size: 13px;
  color: #8a8a8a; /* Серый цвет для имени автора, как в Телеграмме */
}

.messageBody {
  flex-grow: 1;
  margin-top: 4px;
}

.scrollDown {
  position: fixed;
  bottom: 100px;
  right: 45%;
  background-color: #3ba0ff; /* Цвет фона кнопки */
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Начальная прозрачность для плавного появления */
  transition: opacity 0.2s ease-in-out, transform 0.2s ease; /* Плавное появление и анимация при наведении */
}

.scrollDown::before {
  content: "↓"; /* Символ стрелки вниз */
  color: rgb(218, 218, 218); /* Цвет стрелки */
  font-size: 24px; /* Размер стрелки */
}

.scrollDown:hover {
  transform: scale(1.05);
  background-color: #007bff;

  transition: scale 0.2s ease-in-out,
    background-color 0.2 ease-in-out transform 0.2s ease;
}
.visible {
  opacity: 1; /* Полная видимость при необходимости отображения */
}
